*,
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}
.pd {
  padding: 0 0.27777778rem;
}
.bdb {
  border-bottom: 0.02777778rem solid #313858;
}
.flex {
  display: flex;
  justify-content: space-between;
}
body {
  background-color: #232943 !important;
  color: #cccccc;
  font-size: 0.30555556rem;
}
.mui-content,
.mui-bar {
  background: none;
}
.mui-bar {
  padding: 0 0.27777778rem;
}
/*头部区域样式*/
.header {
  display: flex;
  justify-content: space-between;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  align-items: center;
  box-shadow: none;
  background-color: #232943;
}
.header a {
  color: #cccccc;
  width: auto;
}
.header a#mySelf {
  width: 1.04166667rem;
  height: 1.04166667rem;
  background-color: #f7931e;
  border-radius: 35%;
  background: url(../../img/1.png) center;
  background-size: 1.11111111rem 1.11111111rem;
}
.header a.iconfont {
  font-size: 0.58333333rem;
}
.header .title {
  width: auto;
  font-size: 0.41666667rem;
  font-weight: normal;
  line-height: 1.33333333rem;
  margin: 0;
  color: #cccccc;
}
.header .title span {
  display: inline-block;
  line-height: 0.69444444rem;
}
.header .title span.act {
  color: #f7931e;
  border-bottom: 0.01388889rem solid #f7931e;
  margin-right: 0.36111111rem;
}
/*主体内容样式*/
.header ~ .mui-content {
  padding-top: 1.36111111rem;
  box-sizing: initial;
}
/*尾部选项卡区域样式*/
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 0.41666667rem 0;
  height: 1.33333333rem;
  border-top: 0.04166667rem solid #cccccc;
  background-color: #232943;
}
.footer .mui-tab-item {
  width: auto;
  display: block;
  overflow: auto;
}
.footer .mui-tab-item.mui-active {
  color: #f7931e;
  font-weight: bolder;
}
.footer .mui-tab-item.mui-active .iconfont {
  text-shadow: 0 0 0.04166667rem #f7931e;
}
.footer .mui-tab-item.mui-active .iconfont.icon-shandian {
  font-size: 0.625rem;
}
.footer .iconfont {
  display: block;
  margin-top: 0.06944444rem;
  font-size: 0.65277778rem;
}
.footer .iconfont.icon-jiahao {
  font-size: 0.76388889rem;
  margin-top: 0.20833333rem;
}
.footer .iconfont.icon-shandian {
  font-size: 0.76388889rem;
}
.footer .iconfont.icon-xiaoxi {
  font-size: 0.52777778rem;
}
.footer .mui-tab-label {
  font-size: 0.30555556rem;
}
/*发布页面*/
.SendPage {
  width: 100%;
  height: 100%;
}
.SendPage body {
  width: 100%;
  height: 100%;
  background: url(../../img/Send01.png);
  background-size: 100%;
}
.SendPage body .SendBody {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: flex-end;
  position: relative;
}
.SendPage body #shutDown {
  width: 1.05555556rem;
  height: 1.05555556rem;
  border-radius: 50%;
  border: 0.05555556rem solid #000000;
  position: absolute;
  bottom: 0.27777778rem;
  left: 50%;
  margin-left: -0.52777778rem;
  background: none;
  transform: rotate(45deg);
}
.SendPage body #shutDown .iconfont {
  font-size: 0.55555556rem;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 22%;
}
.SendPage body .SendList {
  width: 100%;
  height: 8.23611111rem;
  padding: 0 0.75rem 2.625rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.SendPage body .SendList li {
  width: 1.80555556rem;
  height: 2.63888889rem;
  text-align: center;
}
.SendPage body .SendList li div {
  width: 100%;
  height: 1.80555556rem;
  line-height: 1.80555556rem;
  border-radius: 0.55555556rem;
  background-color: #f7931e;
  color: #000000;
}
.SendPage body .SendList li div .iconfont {
  font-size: 1.11111111rem;
}
.SendPage body .SendList li:nth-of-type(1) div .iconfont,
.SendPage body .SendList li:nth-of-type(3) div .iconfont {
  font-size: 1.02777778rem;
}
.SendPage body .SendList li:nth-of-type(4) div .iconfont {
  font-size: 0.97222222rem;
}
.SendPage body .SendList li:nth-of-type(5) div .iconfont,
.SendPage body .SendList li:nth-of-type(7) div .iconfont,
.SendPage body .SendList li:nth-of-type(8) div .iconfont {
  font-weight: 600;
}
.SendPage body .SendList li:nth-of-type(6) div .iconfont {
  font-weight: 500;
  font-size: 1.38888889rem;
}
.SendPage body .SendList li p {
  line-height: 0.86111111rem;
  color: #f7931e;
  font-size: 0.33333333rem;
}
